
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Connect - @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="~/Content/leaflet.css" />
    <script src="~/Scripts/leaflet.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="~/img/icon.png" />
                <!--<p class="navbar-text" id="app-title">Map Connect</p>-->
                <!-- Condition qui permet de masquer les options du bandeau en haut de la page si l'utilisateur est déconnecté -->
                @if (ViewBag.isConnected != null && ViewBag.isConnected)
                {
                    //Option du bandeau qui permet de revenir à la page d'accueil
                    @Html.ActionLink("Accueil", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    //Option du bandeau qui permet de se déconnecter
                    @Html.ActionLink("Déconnexion", "Deconnexion", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Map Connect - @DateTime.Now.Year </p>
        </footer>
    </div>
</body>
</html>
