<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Connect - @ViewBag.Title</title>
    <!--Import personal style sheet-->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <!--Import JQuery module-->
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <!--Import BootStrap sources-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <!--Import Leaflet module-->
    <link rel="stylesheet" href="~/Content/leaflet.css" />
    <script src="~/Scripts/leaflet.js"></script>
    <!--Import geocoder module-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <img src="~/img/icon.png" id="app-icon" />
            <!-- Condition qui permet de masquer les options du bandeau en haut de la page si l'utilisateur est déconnecté -->
            @if (ViewBag.isConnected != null && ViewBag.isConnected)
            {                
                //Option du bandeau qui permet de revenir à la page d'accueil
                <a href="@Url.Action("Index", "Home",null)" class="navbar-brand">
                    <img src="~/img/home.png" id="icon-navbar" >
                </a>
                //Option du bandeau qui permet d'aller sur la page "Carte"
                <a href="@Url.Action("Map", "Home",null)" class="navbar-brand">
                    <img src="~/img/map.png" id="icon-navbar">
                </a>
                //Option du bandeau qui permet d'aller sur la page "A propos"
                <a href="@Url.Action("About", "Home",null)" class="navbar-brand">
                    <img src="~/img/about.png" id="icon-navbar">
                </a>
                //Option du bandeau qui permet de se déconnecter
                <a href="@Url.Action("Deconnexion", "Home",null)" class="navbar-brand">
                    <img src="~/img/logout.png" id="icon-navbar">
                </a>
             }
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>Map Connect (2017 - @DateTime.Now.Year) </p>
        </footer>
    </div>
</body>
</html>
